.tag-lanta{
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    margin-top: 8vw;
  
   }
    
   .caption-lanta{
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: rgba(64, 82, 99, 1);
    text-align: start;  
   }
   .first-image-cs{
     width: 100%;
     margin-top:2vw;
   }
.sctn1-svg-imgrect{
  width: 115%;
}
.section-one{
  margin-top: 7vw;
}