.tag-lanta{
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    margin-top: 11vw;
  
  
   }
.caption-lanta{
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: rgba(64, 82, 99, 1);
    text-align: start;  
   }

.sctn1-main-div{
    margin-top:3vw ;
}
.sctn1-fst-col{
    margin-left: 6vw;
}
.sctn1-imge{
    
    padding-top: 5vw;
}