.tag-lanta{
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    
    
   
  
  
   }
.caption-lanta{
    
    font-size: 16px;
  
    font-style: normal;
    font-weight: 400;
    color: rgba(64, 82, 99, 1);
    text-align: start; 
   }
.sectn1-img{
margin-left: 2vw;
width: 100%;
}
.sctn1-main-div{
    margin-top: 13vw;
    margin-bottom: 5vw;
    margin-left:4%;
   
}
.sctn1-m-row{
    margin-left: 6vw;
}