.sctn7-footer-main{
    background: rgba(244, 210, 211, 0.2);
    margin-top: 2vw;

    
}
.sctn7-img{
    margin-left: 3vw;
    margin-top: 5vw;
}
.sctn7-subheading-1{
    font-size: 20px;
    font-weight: 600;
}
.sctn7-content{
    margin-top: 5vw;
    margin-left: 5vw;
}
.sctn7-subtags{
color: rgba(130, 143, 153, 1);
font-size: 15px;
}
.sctn7-footertag{
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 2vw;
    color: rgba(130, 143, 153, 1);
    font-size: 15px;
}
.sctn7-logotag{
    color: rgba(130, 143, 153, 1);
    font-size: 15px;
    margin-left:5px;
}
.sctn7-adresstag{
    font-size: 12px;
    font-weight: 500;
}
.sctn7-followtag{
    font-size: 14px;
    font-weight: 500;
    float: left;
    margin-top: 4vw;
  
 
}
.sctn7-folo-btn{
    color: #000;
    text-align: center;
    padding: 4px;
    transition: all .2s ease-in-out;
    margin-top: 3.5vw;
    
}
.sctn7-folo-btn:hover{
    transform: scale(1.5);
}
