.secionfour-m{
    background: #F5F7FC;
   
}
.sectn4-heading{
    text-align: center;
    font-size: 35px;
    font-weight: 450;
    margin-top: 1.5vw;
}
.sub-heading-sectn4{
    font-size: 25px;
    font-weight: 500;
}
.sub-tag-sectn4{
    color: rgba(124, 133, 149, 1);
    
}
.sectn4-subcol{
    margin-left: 3vw;
    margin-top: 2.5vw;
   padding-bottom: 5vw;
}