.sctn5-heading{
    font-size: 40px;
    font-weight: 700;
   margin-left: 15vw;
}
.sctn5-qoution{
    margin-left: 7vw;
}
.sctn5-headingtag{
    font-size: 18px;
    margin-left: 15vw;
}

.sctn5-mainheading{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.sctn5-subsection{
   
    width: 285px;
    margin-top: 1vw;
    padding-left: 1.5vw;
    background: #FFFFFF;
border: 1px solid #7C8595;
box-sizing: border-box;
border-radius: 4px;
    

}
.sctn5-sublogo{
    width: 100px;
    margin-top: 1vw;
 
}
.sctn5-smallquote{
    width: 12px;
}
.sctn5-name-founder{
    font-size: 15px;
    font-weight: 650;
    color: rgba(237, 28, 36, 1);
}
.sctn5-designation{
    font-size: 12px;

}

.sctn5-container{
  
 margin-top: 5vw;
}
