.dsg1-head-sctn{
    background: #ec2828;
}
.dsg1-heading{
    font-size: 2.5rem;
    font-weight: 650;
    text-align: center;
    color: #fff;
    padding-top: 1vw;
}
.dsg1-subtagline{
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3vw;
}
.dsg1-content-sectn{
    font-weight: normal;
    font-size: 16px;
    color: #797979;
    margin-top: 2vw;
    margin-left: 3vw;
}
.dsg1-tct-sctn{
    font-weight: normal;
    font-size: 17px;
    margin-left: 3vw;
}
.dsg1-image-sectn{
    margin-left: 5vw;
    margin-top: 3vw;
}
.dsg1-cotnt-mdevp{
    margin-left: 3vw;
}
.dsg1-heading-two{
    text-decoration:  underline red;
    font-size: 1.5rem;
}
