



.home,
.services,
.contact,
.about{
text-decoration: none;
font-size: 17px;
color: rgba(64, 82, 99, 1);
padding: 10px 20px;
margin: 0 10px;
cursor: pointer;
text-decoration: none;

    
}



.home:hover,
.services:hover,
.contact:hover,
.about:hover{ color: red;
}
.active{
    color:red;
   }
.nav-main-div-r{
    margin-bottom: 6vw;
}