
.home,
.services,
.contact,
.about{
text-decoration: none;
font-size: 17px;
color: rgba(64, 82, 99, 1);
padding: 0 0 20px;
margin: 0 25px;
cursor: pointer;
text-decoration: none;
margin-left: 5vw;
}
.home:hover,
.services:hover,
.contact:hover,
.about:hover{ color: red;
}
.active{
    color:red;
}
.demo-void{
    width: 20%;
}
.nav_link_section{
    margin-top: 1vw;
    margin-left: 40%;
}
