
  
   
   .tag-lanta{
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    
 
   }
   .caption-lanta{
  
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    
   color: rgba(64, 82, 99, 1);
   margin-top: 2.5%;
   margin-bottom: 3.5%;
 
   
    
   }
  
   .circle-dot{
    height: 25px;
    width: 25px;
    background-color: rgb(255, 44, 44);
    border-radius: 50%;
    display: inline-block;
  
   }
   .circle-dot2{
    height: 25px;
     width: 25px;
     background-color: rgb(9, 59, 197);
     border-radius: 50%;
     display: inline-block;
     margin-top: 10%;
     
   }
    
   .profile-img{
    width: 170px;
    height: 170px; 
    border-radius: 100%;
    margin-left: 28%;
  }
  
  .profile-details1{
    text-align: center;
    font-size: 18px;
  }
  
  .profile-details2{
      font-weight: bold;
      color: #969BAB;
      font-size: 15px;
      text-align: center;
      margin-bottom: 2vw;
      
  }
  .service-section{
      margin-top: 3vw;
      margin-bottom: 2vw;
  }
  .about-txt-section{
      float: left;
      margin-left: 7vw;
  }
  .about-caption-sectn{
      margin-top: 2vw;
      color: rgba(124, 133, 149, 1);
  }
  .about-discription-section{
      margin-top: 2vw;
     
  }
  .about-cntnt-para{
      margin-top: 1vw;
      color: rgba(124, 133, 149, 1);
  }
  .amazing-main-sctn{
     margin-top: 3vw;
      background-color: rgba(245, 247, 252, 1);
      height: 55vh;
  }
  .heading-stag{
    text-align: center;
    font-size: 2.5vw;
    padding-top: 3vw;
    
  }
  .amazing-sub-heading{
      float: left;
    margin-left: 10vw;
      margin-top: 3.5vw; 
      z-index: -1;
      
  }
  .amazing-sub-setion{
     margin-left: 10vw;
  }
  
  .sub-heading-user{
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
  }
  .sub-tag-user{

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: rgba(124, 133, 149, 1);
  }
  .image-details-port{
      width: 100%;
    
  }
  .portfolio-heading-sec{
      font-size: 16px;
      font-style:unset;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0em;
      position: absolute;
      top: 20%;
      left: 0; 
      width: 100%; 
      transform: translate(-50%, -50%);
  

  }
  .portfolio-m-image{
    position: relative;
    text-align: center;
    color: white;
  }
  .first-part-landingpage{
     margin-left: 4.5%;
     width: 100vw;
    position: relative;
   
  }
  .first-image-lanta{
    margin-left:12.5% ;
    width: 45%; 
 
  }
 .text-col-first{
    float: left;
    margin-top: 5%;

 }
 