.abt3-head-1{
    
   color:#ED1C24;
   font-size: 55px;
   font-weight: 600;
}
.abt3-head-2{
    
    font-size: 55px;
    font-weight: 600;
}
.abt3-head1-sctn{
    text-align: center;
    margin-top: 6vw;
    
}
.abt3-sub-heading{
    font-size: 48px;
    font-weight: 650;
    margin-top: 2vw;

}
.abt3-sub-tag{
text-align: start;
font-size: 18px;
font-weight: 450;
margin-top: 1.5vw;
}
.abt3-card-mdiv{
    width: 260px;
    height: 400px;
    border-radius: 8px;
    margin-top: 4vw;
    margin-left: 2vw;
   
}
.abt3-cardimage{
    width: 259px;
    height: 250px;
}
.abt3-desntn-tag{
    color: rgba(237, 28, 36, 1);
    font-size: 16px;
    font-weight: 650;
    text-align: center;
}
.abt3-desntn-tag2{
    color: rgb(160, 157, 157);
    font-size: 14px;
    font-weight: 650;
    text-align: center;
}
.abt3-membrname{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 2vw;
}
.abt3-secndrow{
    margin-top: 5vw;
}
.abt3-secndcol{
  margin-right: 1vw;
}
.abt3-thrdrow{
    margin-top: 2vw;
    margin-left: 2.5vw;
}