.abt2-mainsctn{
   
    margin-top: 10vw;
   
    background: url(https://res.cloudinary.com/lanta/image/upload/v1638692884/q1_1_sh6cu1.svg);
    background-size:contain;
    
    
        

}
.abt2-mainsctn1{

background: rgba(136, 149, 185, 0.4);

}
.abt2-main-heading{
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    margin-top: 2.5vw;
    
}
.abt2-colone{
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 7vw;
    width: 300px;
    height: 350px;
    margin-top: 2.5vw;



}
.abt2-sctn2{
    margin-top: 2vw;
    margin-left: 4vw;
    margin-bottom: 5vw;
}
.abt2-col-s-head{
    font-weight: 600;
    font-size: 20px;
    margin-left: 1.5vw;
    margin-top: 1.5vw;
}
.abt2-col-s-tag{
    text-align: start;
    font-weight: normal;
    font-size: 16px;
    margin-left: 3vw;
    margin-top: 2vw;
}
