.abt4-frstrow{
    margin-top: 8vw;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
}
.abt4-mrow{
    margin-top: 5vw;
}
.abt4-first-img{
    margin-top: 2vw;
    margin-left: 3vw;
}
.abt4-que-mcol{
    width: 570px;
    height: 500px;
    padding-top: 2vw;
}
.abt4-colps-sctn{
    font-size: 18px;
    font-weight: 600;
    margin-top: 1.5vw;

}
.abt4-accdtion-head{
    font-size: 18px;
    font-weight: 700;
}