.abt1-red-heading{
  color: rgba(237, 28, 36, 1);
  font-size: 20px;
  font-weight: 600;
  margin-top:3vw;
}


.abt1-top-heading{
  font-size: 6vw;
  font-weight: 400;

}

.abt1-top-tag{

  font-size:1.5vw;
 

}
.abt1-top-col{
  margin-top: 7vw;
  margin-left: 5vw;
}
.abt-one-mdiv{
  margin-top: 6vw;
}