.curved-div {
    margin-top: 1vw;
   
}
.abt1-topbar2{
  margin-left: 60vw;
  z-index: 1;
  margin-top: -25vw;
  width: 25%;
  height: 35%;
}
.hello{
  z-index: -1;
}
.abt1-top-heading{
  font-size: 6vw;
  font-weight: 400;

 
  ;
}
.abt1-top-col{
  margin-left: 3.5vw;
  z-index: 2;
  margin-top: -23vw;
}
.abt1-top-tag{
  width: 50%;
  font-size:1.5vw;


}